Text {
	font-family: Verdana; 
	font-size: 12;
}

/*
Form Section Label {
	font-family: Verdana;
	font-size: 12;
	font-weight: normal;
}
*/


Form Section List {
	font-family: Verdana;
	font-size: 12;
	font-weight: normal;
}



/*
.MPart Section Label {
			font-family: Verdana;
    font-size: 12;
    font-weight: bold;

}
*/

		
/*
#networkServiceView Composite {
  background-color: #FAEBD7;
}
*/